[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[pipenv]
sort_pipfile = true

[packages]
argparse = "*"
colorlog = "*"
faster-whisper = "*"

[dev-packages]
coverage = "*"
flake8 = "*"
mypy = "*"
pre-commit = "*"
ruff = "*"
yamllint = "*"

[requires]
python_version = "3.12"

[scripts]
test = "coverage run -m unittest discover -v"
test-coverage = "coverage report --fail-under=83"
pre-commit-format = "ruff format --check"
format = "ruff format"
pre-commit-fix = "ruff check --extend-select I"
fix = "ruff check --extend-select I --fix"
stylecheck = "flake8 . --max-line-length 99 --extend-ignore E203"
typecheck = "mypy . --install-types --non-interactive --ignore-missing-imports --check-untyped-defs"
yamllint = "yamllint ."
transcribe = "python app/main.py"
